$ua-cache: "_1s23";
$marker-icon-color: #ffffff;
$marker-bg: #ff3333;
$marker-text:#eb0000;
$plugin-path: "plugins/nodebb-plugin-unimap/";
$icons-path: "#{$plugin-path}icons/";
$images-path: "#{$plugin-path}images/";
$logoUnimap: "uploads/system/touchicon-48.png";
$ua-bg-primary:#4f4f4f;
$ua-bg-primary-text:#ffffff;
$ua-btn-bg:white;
$ua-btn-text:#696969;